<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.Haptics"
            android:value="vn.kyoz.godot.haptics.Haptics" />
    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>